In [9]:
from collections import deque
from bisect import insort
from hashlib import md5
import numpy as np
import pandas as pd

In [2]:
hasher = md5()
with open('example.csv', 'rb') as fh:
    buf = fh.read()
    hasher.update(buf)
hasher.hexdigest() == '4df05a5117cf9d6beb3672873daa6231'

True

In [8]:
np.random.seed(int('4df05a5117cf9d6beb3672873daa6231', 16) % 2 ** 32)

In [6]:
int('4df05a5117cf9d6beb3672873daa6231', 16)

103598538763201519423029414504165958193

In [7]:
2 ** 32

4294967296

In [10]:
df = pd.DataFrame(data=np.random.randn(100, 3), columns=['A', 'B', 'C'])
df.head()

          A         B         C
0 -0.005558 -1.821804  0.859772
1 -0.707932 -0.580742 -1.363408
2 -0.510096 -0.982836  0.703305
3 -1.318159  0.437203 -1.035926
4  1.914232 -1.163255 -2.598057

In [11]:
df['C'] = 1 * (df['C'] > 0)
df.head()

          A         B  C
0 -0.005558 -1.821804  1
1 -0.707932 -0.580742  0
2 -0.510096 -0.982836  1
3 -1.318159  0.437203  0
4  1.914232 -1.163255  0

In [12]:
df.to_csv('example_covariates.csv', index=False)