In [6]:
import pandas as pd
from os import path
import numpy as np
from IPython.display import display, HTML

import xdesign

def pretty_print(df, message=''):
    print(message)
    return display(HTML(df.to_html()))

In [2]:
# example data 

DATA_PATH = '../tests/example_covariates.csv'
df = pd.read_csv(DATA_PATH)
pretty_print(df.head())
df.describe()

                A           B       C
count  100.000000  100.000000  100.00
mean     0.075969   -0.030332    0.45
std      1.057618    0.994407    0.50
min     -2.914937   -2.143484    0.00
25%     -0.636230   -0.710553    0.00
50%      0.108599   -0.015349    0.00
75%      0.777243    0.582555    1.00
max      2.799044    2.928059    1.00

In [24]:
# drawing i.i.d. and shuffled treatment assignements 
# for 1 treatment (1 control) and 2 treatments (1 control)
# assessing balance

for weights in ([.5, .5], [.3, .3, .4]):
    print('\nweights: ', weights )
    rct = xdesign.design.RCT(DATA_PATH, weights)
    iid_assignment = rct.assignment_from_iid
    shuffled_assignment = rct.assignment_from_shuffled
    pretty_print(iid_assignment, '\tiid assignment')

weights:  [0.5, 0.5]
	iid assignment

weights:  [0.3, 0.3, 0.4]
	iid assignment

In [31]:
iid_assignment[0].value_counts()

1    39
2    34
0    27
Name: 0, dtype: int64

In [32]:
import numpy as np

In [36]:
max(np.array(df[['A']]))

array([2.79904383])

In [37]:
np.max(np.array(df))

2.928059127153908

In [11]:
np.max(np.array(df))

2.928059127153908

In [13]:
df.sum(axis=1).mean()

0.4956364105270572

In [17]:
df.columns[:-1]

Index(['A', 'B'], dtype='object')